<li>
  {{answered-question question}}
  {{#link-to 'question' question.id}}{{questionDetails}}{{/link-to}}
  <button class="btn btn-success btn-sm" {{action 'addQuestionToFavorite' question}}>add to favorite</button>
</li>
