<h1>New Question</h1>
<div>
  <form>
    <div class="form-group">
      <label for="statement">Question</label>
      {{input value=statement id="statement"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="additionalnotes">additional notes</label>
      {{input value=additionalnotes id="additionalnotes"}}
    </div>

    <button {{action 'submitFormToComponent'}}>Save</button>
  </form>
</div>
